.env
.idea
/helm/airflow/Chart.lock
/dev.env
/airflowsshkey
/airflow-ns.json
/helm/charts/airflow-1.16.0.tgz
/helm/airflow/charts/airflow-1.16.0.tgz
/.venv/
git_secret.env
/helm/airflow/charts/airflow-*.tgz
